[Unit]
Description=Shadowsocks Manager
After=strongswan.service

[Service]
Restart=always
ExecStart=/usr/bin/podman start -a ss-manager
ExecStop=/usr/bin/podman stop -t 15 ss-manager
ExecStartPost=-/root/refresh

[Install]
WantedBy=local.target
