[Unit]
Description=Shadowsocks Manager
After=strongswan.service

[Service]
Restart=always
ExecStart=/usr/bin/podman start -a ss-manager
ExecStop=/usr/bin/podman stop -t 15 ss-manager
RestartSec=5
ExecStartPost=-/bin/bash -c "sleep 3; /usr/bin/python3 /root/mongossr/mongo_mgr.py -j"

[Install]
WantedBy=multi-user.target
